html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
u, b, i, em
dl, dt, dd, ol, ul, li,
fieldset, input, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

i, em {
  font-style: italic; }

strong, b {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
$primary-color:;
$secondary-color:;
$tertiary-color:;

$padding:;
$margin:;

*/
.single-column {
  max-width: 768px!important;
  margin: 0 auto;
  padding: 1em; }

p {
  font-size: 20px;
  line-height: 1.5; }
  p + p {
    margin-top: 1em; }

h1 {
  font-size: 128px;
  font-weight: 100!important;
  font-family: georgia;
  margin-bottom: .25em; }

h2 {
  font-size: 64px;
  text-align: center; }

.meta {
  font-size: 12px; }

.ct {
  text-align: center; }
  @media screen and (min-width: 100px) and (max-width: 479px) {
    .ct {
      text-align: left; } }

.large-list {
  font-size: 20px; }
  .large-list li {
    border-top: 1px solid #dddddd; }
  .large-list a {
    text-decoration: none;
    line-height: 3; }

.row {
  padding: 2em 0; }

img {
  width: 100%;
  margin: 1em 0; }
