---
layout: default
---

<section class="single-column">
  <article class="post">
    {% for post in site.posts limit: 1 %}
      <header class="article-header">
        <h1 class="h2">{{ post.title }}</h1>
      </header>
      {{ post.content }}
    {% endfor %}
  </article>
  <section class="mt-4">
    <article>
      <ul class="large-list ct mt-1">
        {% for post in paginator.posts %}
          <li>
            <a href="{{ post.url }}" title="{{post.title}}">
              <date datetime="{{post.date}}" class="meta">
                {{ post.date | date_to_long_string }}
              </date>
                {{ post.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
      <p class="ct"><a href="{{site.url}}/archives/" class="ct" title="Archives">...</a></p>
    </article>
  </section>
</section>
