<footer class="pa3 pa6-ns">
  <ul class="list pl0">
    <li class="dib mr3"><a title="writing about design, product, css, and vim." class="db f5 link dim black" href="{{site.url}}">Home</a></li>
    <li class="dib"><a title="writing about design, product, css, and vim." class="db f5 link dim black" href="{{site.url}}/archives">Archives</a></li>
  </ul>
  <ul class="list pl0 db">
    <li class="dib mr3"><a class="db f5 link dim mid-gray" title="murmurs on github" href="http://github.com/mrmrs">Github</a></li>
    <li class="dib mr3"><a class="db f5 link dim mid-gray" title="murmurs on dribbble" href="http://dribbble.com/mrmrs">Dribbble</a></li>
    <li class="dib mr3"><a class="db f5 link dim mid-gray" title="rants on css on twitter dot com" href="http://twitter.com/mrmrs_">Twitter</a></li>
    <li class="dib mr3"><a class="db f5 link dim mid-gray" href="http://instagram.com/mrmrs_" title="@mrmrs_ photos on instagram">Instagram</a></li>
    <li class="dib mr3"><a class="db f5 link dim mid-gray" href="http://soundcloud.com/mr_mrs" title="@mrmrs_ sounds on Soundcloud">Soundcloud</a></li>
    <li class="dib mr3"><a class="db f5 link dim mid-gray" title="murmurs homepage" href="http://mrmrs.cc">MRMRS</a></li>
    <li class="dib"><a href="mailto:hi@mrmrs.cc" title="Email Adam Morse" class="f5 db link dim mid-gray">hi@mrmrs.cc</a></li>
  </ul>
        <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1696&serve=CVYD42T&placement=mrmrsio" id="_carbonads_js"></script>
      <a href="http://tachyons.io" title="Tachyons - CSS for designing at the speed of light" class="f6 db link dark-gray">Built with Tachyons</a>
  </ul>
</footer>
