<footer class="pvs mtn sans-serif">
  <ul class="list list--h tc pln pvm mbl site-footer">
    <li class="list--h-item pln db wi-100 pbs pbm-ns"><a title="skullwaste home" class="link pas f2 f4-ns" href="{{siteurl}}/">☠☣</a></li>
    <li class="list--h-item pln ttu"><a class="link pas" title="murmurs homepage" href="http://mrmrs.cc">MRMRS</a></li>
    <li class="list--h-item pln ttu"><a class="link pas" title="murmurs on github" href="http://github.com/mrmrs">Github</a></li>
    <li class="list--h-item pln ttu"><a class="link pas" title="murmurs on dribbble" href="http://dribbble.com/mrmrs">Dribbble</a></li>
    <li class="list--h-item pln ttu"><a class="link pas" title="rants on css on twitter dot com" href="http://twitter.com/mrmrs_" title="@mrmrs_">Twitter</a></li>
  </ul>
  <a href="mailto:hi@mrmrs.cc" class="ttu mega-tracked f6 db tc link mbl">hi@mrmrs.cc</a>
  <a href="http://github.com/mrmrs/tachyons" title="built with tachyons" class="ttu mega-tracked f6 db tc link mbl">Built with Tachyons</a>
</footer>
