<footer class="pvs mtn sans-serif">
  <ul class="list pln pvm mbl site-footer tc">
    <li class="dib pln pbs pbm-ns"><a title="skullwaste home" class="link link-gray pas f4" href="{{siteurl}}/">☠☣</a></li>
    <li class="dib pln ttu"><a class="f5 link link-gray pas" title="murmurs homepage" href="http://mrmrs.cc">MRMRS</a></li>
    <li class="dib pln ttu"><a class="f5 link link-gray pas" title="murmurs on github" href="http://github.com/mrmrs">Github</a></li>
    <li class="dib pln ttu"><a class="f5 link link-gray pas" title="murmurs on dribbble" href="http://dribbble.com/mrmrs">Dribbble</a></li>
    <li class="dib pln ttu"><a class="f5 link link-gray pas" title="rants on css on twitter dot com" href="http://twitter.com/mrmrs_">Twitter</a></li>
    <li class="dib pln ttu"><a class="f5 link link-gray pas" href="http://instagram.com/mrmrs_" title="@mrmrs_ photos on instagram">Instagram</a></li>
    <li class="dib pln ttu"><a href="mailto:hi@mrmrs.cc" title="Email Adam Morse" class="mega-tracked f5 db tc link link-gray mbl">hi@mrmrs.cc</a></li>
  </ul>
  <a href="http://github.com/mrmrs/tachyons" title="Tachyons - The fastest css framework in the world" class="f5 db tc link mbl">Built with Tachyons</a>
</footer>
