<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <title>
    {{site.name}} - {{page.title}}
  </title>
  <meta name="author" content="{{site.author}}">
  <meta name="description" content="{{site.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/tachyons.min.css" type="text/css" media="screen" title="Site css" charset="utf-8">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{site.url}}/feed.xml">
</head>
