<ul class="social">
    <li class="twitter">
        <a href="http://twitter.com/{{site.twitter}}" title="Follow on Twitter">@{{site.twitter}}</a>
    </li>
    <li class="dribbble">
        <a href="http://dribbble.com" title="Follow on Dribbble">Dribbble</a>
    </li>
    <li class="cargo">
        <a href="http://cargocollective.com/" title="Cargo Collective Portfolio">Cargo Collective</a>
    </li>
    <li class="tumblr">
        <a href="http://tumblr.com" title="Tumblr Blog">Tumblr</a>
    </li>
    <li class="instagram">
        <a href="http://instagr.am" title="Instagramming">Instagram</a>
    </li>
    <li class="soundcloud">
        <a href="http://soundcloud.com" title="Soundcloud">Sound Cloud</a>
    </li>
    <li class="flickr">
        <a href="http://flickr.com/photos/" title="Flickr">Flickr</a>
    </li>
</ul>
