<ul>
  {% if site.github %}
  <li>
    <a href="http://github.com/{{site.github}}" title="{{site.github}} on Github">Github</a>
  </li>
  {% endif %}
  {% if site.twitter %}
  <li>
    <a href="http://twitter.com/{{site.twitter}}" title="Follow on Twitter">@{{site.twitter}}</a>
  </li>
  {% endif %}
  {% if site.dribbble %}
  <li>
    <a href="http://dribbble.com/{{site.dribbble}}" title="Follow on Dribbble">Dribbble</a>
  </li>
  {% endif %}
  {% if site.cargocollective %}
  <li>
    <a href="http://cargocollective.com/{{site.cargocollective}}" title="Cargo Collective Portfolio">
      Cargo Collective
    </a>
  </li>
  {% endif %}
  {% if site.tumblr %}
  <li>
    <a href="http://tumblr.com/{{site.tumblr}}" title="Tumblr Blog">
      Tumblr
    </a>
  </li>
  {% endif %}
  {% if site.instagram %}
  <li>
    <a href="http://instagr.am/{{site.instagram}}" title="Instagramming">Instagram</a>
  </li>
  {% endif %}
  {% if site.soundcloud %}
  <li>
    <a href="http://soundcloud.com" title="{{site.soundcloud}} on Soundcloud">Sound Cloud</a>
  </li>
  {% endif %}
  {% if site.flickr %}
  <li>
    <a href="http://flickr.com/photos/{{site.flickr}}" title="Flickr">Flickr</a>
  </li>
  {% endif %}
</ul>
