<article class="mt4 ph3 ph6-ns pv4 bt b--light-gray bb">
    <h1 class="ttu tracked f6">Similar</h1>
    <ul class="list pl0">
      {% for post in site.related_posts limit: 5 %}
      <li class="pl0">
        <a href="{{ site.url }}{{ post.url }}" class="link dim near-black db f4 pv2" title="{{post.title}}">
          {{ post.title }}
          <span>›</span>
        </a>
      </li>
      {% endfor %}
      <li class="pl0">
        <a href="{{ site.url }}" class="link dim near-black db f5 pv2" title="Full Archives">
          Full Archives
          <span>›</span>
        </a>
      </li>
    </ul>
</article>
