<article class="mtl phm pbm ptl bt b--light-gray bb related-posts">
  <div class="mw7 center">
    <h1 class="sans-serif ttu tracked f5">Similar</h1>
    <ul class="list pln">
      {% for post in site.related_posts limit: 5 %}
      <li class="pln">
        <a href="{{ post.url }}" class="db pvs f4 sans-serif" title="{{post.title}}">
          <!--<span>{{ post.date | date_to_long_string }}</span>-->
          {{ post.title }}
          <span>›</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</article>
