/*

   LINKS

*/
a {
  text-decoration: none;
  transition: color .2s ease-out;
}
a:link    { color: #222!important; }
a:visited { color: #222!important;}
a:hover   {
  color: #a94dba!important;
  transition: color .25s ease-in;
}
a:active  { color: #333333!important; }

.link {
  text-decoration: none;
  transition: color .15s ease-in;
}

.link:link,
.link:visited {
  color: #222;
  transition: color .15s ease-in;
}
.link:hover,
.link:focus   {
  color: #ff33cc;
  transition: color .15s ease-in;
}
.link:active  {
  color: #ff66ee;
  transition: color .15s ease-in;
}

.underline             { text-decoration: underline; }
.underline-hover:hover { text-decoration: underline; }


.link-gray { color: #777!important; }
.link-gray:link { color: #777!important; }
.link-gray:visited { color: #777!important; }
.link-gray:hover { color: #555!important;}
