/* ==========================================================================
   LINKS
   ========================================================================== */

.link { text-decoration: none; }
.hov:hover {
  background-color: #A7D6EB;
  transition: background-color .3s ease-in-out;
  -webkit-transition: background-color .3s ease-in-out;
  border-color: transparent!important;
}

.hov:active {
  background-color: #009ee3;
  transition: background-color .3s ease-in-out;
  -webkit-transition: background-color .3s ease-in-out;
  border-color: transparent!important;
}

a  { text-decoration: none; color: #333; }

@include break(not-small) {
  .link-ns { text-decoration: none; }
}

@include break(medium) {
  .link-m { text-decoration: none; }
}

@include break(large) {
  .link-l { text-decoration: none; }
}

