.large-list {
  font-size:$type-4;  
  li {
    border-top:1px solid #eee;
  }
  a {
    display:block;
    padding:.5em 0;
    color:$grey-dark;
    line-height:2;
    text-decoration:none;
    &:hover,
    &:active {
      color:$orange;
    }
    .meta {
      display:block; 
    }
  }
}

