.large-list {
  font-size:$type-4;  
  li {
    border-top:1px solid #eee;
  }
  a {
    display:block;
    padding:1em 0;
    color:$grey-dark;
    line-height:1.5;
    text-decoration:none;
    &:hover,
    &:active {
      color:$orange;
      .meta {color:$orange;}
    }
    .meta {
      display:block; 
    }
  }
}

.post {
    ul,dl {
      line-height:1.618; 
      font-size:$type-4;
      margin-bottom:1em;
    }
    dt {
      font-weight:bold; 
    }
    dd {
      margin-bottom:.5em; 
      color:$grey-medium;
    }
    ul {
      list-style-type:disc; 
      margin-left:1em;
    }
}

.post ol {
  margin-left:-1.75em;
  li {
    margin-bottom: .5em; 
    line-height:$copy-line-height;
  } 
}

.list-full {
  width: 100%;
  margin-bottom:0;
}

.list-full--item {
  border-bottom:1px solid #e3e3e3;
  &:last-child {border-bottom:1px solid transparent;}
  &:hover {border-bottom:1px solid transparent;}
}

.list-full--item-link {
  -webkit-transition:background ease-in-out .5s, color .5s;
  transition:background ease-in-out .5s, color .5s;
  display:block;
  padding:40px 20px;
  font-size:$type-3;
  color:#222;
  @include breakpoint(one-hand) {
    font-size:$type-4; 
    line-height:1.5;
    padding:15px;
  }
  &:hover {
    background:#ffcc33;
    color:#fff;
    .meta {color:#fff;}
    -webkit-transition:background ease-in-out .5s, color .5s;
    transition:background ease-in-out .5s, color .5s;
  }
  &:active{
    -webkit-transition: background .3s;
    background:lighten(#ffcc33,10%);
    border-bottom:1px solid darken(#ffcc33, 20%);
  }
}



.flush-right {position:absolute;right:20px;}
