code {
  background: #eee;
  font-size: 16px;
  padding: .25rem .5rem;
  white-space: nowrap;
  margin-right: .5rem;
}

h1,h2,h3,h4,h5,h6 {
 font-family: avenir, "avenir next", helvetica, arial, sans-serif;
}
