code {
  background: #eee;
  font-size: 16px;
  padding: .25rem .5rem;
  white-space: normal;
  word-wrap:break-word;
  margin-right: .5rem;
}

h1,h2,h3,h4,h5,h6 {
 font-family: avenir, "avenir next", helvetica, arial, sans-serif;
}

.txtlnk:link {
  color: #009EE3;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.txtlnk:visited { color: #009EE3; }

.txtlnk:hover {
  color: #004260;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.txtlnk:active { color: #59b7e0; }

.post-content,
.related-posts {
  a:link {
    color: #009EE3;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
  }
  a:visited { color: #009EE3; }
  a:hover {
    color: #004260;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
  }
  a:active { color: #59b7e0; }
}

.site-footer {
  a:link {
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
  }
  a:hover {
    opacity: 0.5;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
  }
}
