/*
$secondary-color:;
$tertiary-color:;

$padding:;
$margin:;

*/

$primary-color: #eee;
$type-1:84px;
$type-2:42px;
$type-3:32px;
$type-4:24px;
$type-5:20px;
$type-5:16px;

$copy:24px;

$copy-line-height:1.5;
