{% include _head.html %}
<body>
  {% include _google_analytics.html %}
  {% include _header.html %}
  <article class="pam pal-ns">
    <header class="readable mx-wi7 center ptl">
      <time class="sans-serif ttu lh-title tracked db tc-ns mbl mbx-ns mtm f6 caps" datetime="{{page.date}}">{{page.date | date: "%d %B %Y"}}</time>
      <h1 class="f2 f2-ns f2-m f2-l fw-100 thin caps sans-serif ttu">
        {{page.title}}
      </h1>
      {% if page.subtitle %}
      <h2>
        {{page.subtitle}}
      </h2>
      {% endif %}
    </header>
    <!-- This is where post content lives -->
    <div class="f3 f3-ns f3-m f3-l mx-wi7 center lh-copy post-content">
      {{content}}
    </div>
    <!-- end of post content -->
  </article>
    <div class="pas">
      <p class="tc sans-serif">
        Find something wrong?
        <a href="https://github.com/mrmrs/x--x/tree/gh-pages" title="Fork this on Github" class="txtlnk">
          Fork this on Github
        </a>
      </p>
    </div>
  {% include _related_posts.html %}
  {% include _footer.html %}
</body>
</html>
