{% include _head.html %}
<body>
  {% include _google_analytics.html %}
  {% include _header_post.html %}
  <article class="pam">
    <header class="mw6 center ptl mbl">
      <time class="small lh-title db mbm mbl-ns mtm ttu" datetime="{{page.date}}">{{page.date | date: "%d %B %Y"}}</time>
      <h1 class="f4 b f1-m f1-l mbn ttu tl">
        {{page.title}}
      </h1>
      {% if page.subtitle %}
      <h2>
        {{page.subtitle}}
      </h2>
      {% endif %}
    </header>
    <!-- This is where post content lives -->
    <div class="f3 mw6 center lh-copy post-content">
      {{content}}
    </div>
    <!-- end of post content -->
  </article>
  <div class="pas">
      <p class="mw6 center mtx ptx tc sans-serif bt b--near-white">
        Find something wrong?<br>
        <a href="https://github.com/mrmrs/x--x/tree/gh-pages" title="Fork this on Github" class="txtlnk">
          Send a pull request
        </a>
        or
        <a href="https://github.com/mrmrs/x--x/issues" title="Open an issue" class="txtlnk">
          open an issue on Github
        </a>
      </p>
<div class="tc mtl">
<a href="https://twitter.com/share" class="twitter-share-button" data-via="mrmrs_" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
    </div>
  {% include _related_posts.html %}
  {% include _footer.html %}
  {% include _google_analytics.html %}
</body>
</html>
