{% include _head.html %}
<body>
<div class="content-wrapper">
  <a href="/" class="site-logo">☠☣</a>
  <time  class="page-time" datetime="{{page.date}}">{{page.date | date: "%d %B %Y"}}</time><br />
<div class="single-column">
  <article class="post">
    <!-- This is where the title: in your front matter gets dropped in.-->
    <header class="article-header">
    <h1 class="h2">
      {{page.title}}
    </h1>
    {% if page.subtitle %}
    <h2 class="h3">
      {{page.subtitle}}
    </h2>
    {% endif %}
  </header>
    <!-- This is where post content lives -->
      {{content}}
    <!-- end of post content -->
     <footer class="mt-2">
      {% if page.author %}
      <p class="meta author">
      By: <a href="" rel="author">{{page.author}}</a></p>
      {% endif %}
    </footer>
  </article>
  {% include _related_posts.html %}
</div>
</div>
  {% include _footer.html %}
</body>
</html>
